

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  border: 2px solid #61dafb;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.button-container{
  height: 50px;
  width: 170px;
  border: 2px solid #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 5px;
}

.input{
  flex-wrap: wrap;
  flex-direction: column;
}


.button-container .input {
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #61dafb;
  border-radius: 3px;
  margin: 0 10px;
  width: 50px;
  border: 1px solid #9fe5ff;
}

label {
  font-size: 11px;
}

button {
  margin: 5px;
}

input {
  background-color: #61dafb;
  border-radius: 3px;
  border: 1px solid #9fe5ff;
  margin: 0 10px;
  outline:none;
 text-align: center;
  width: 50px;

}
.scoreboard {
  width: 174px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 4px;
  margin: 5px;
}
.red {
  color: red;
}

